.card {
    min-height: 200px;
  }

.card-body h1 {
  font-family: fantasy;
  margin-bottom: 0em;
}

.card-body h2 {
  font-family: sans-serif;
  font-size: medium;
}

.font-light {
  font-style: italic;
  color: red;
}
.card:hover img{
  transform: scale(1.2,1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: .7;

}

.card img{
  transform: scale(1.0,1.0);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
}

.card-img-wrapper{
  overflow: hidden;
  height: 250px;
  position: relative;
}

.member-icons{
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;

}

.card-img-wrapper:hover .member-icons{
  bottom: 0;
  opacity: 1;
}

.animate{
  transition: all 0.3s ease-in-out;
}


