<div class="row mb-5">
    <div class="col-sm-8">  
    <div>
        <h2>List your Property</h2>
    </div>

    <form #addPropertyForm="ngForm" (ngSubmit)="onAddProperty(addPropertyForm.value)">      
            <div class="tab-panel">
                <tabset class="member-tabset" #formTabs>
                    <tab heading="Basic Info">
                        <div class="col">
                            <div class="form-group col-12">
                                <p>I want to</p>
                                <div class="btn-group">
                                    <label class="btn btn-outline-primary mr-2" name="SellRent" [(ngModel)]="tmpProp.SellRent"
                                            btnRadio=1 tabindex="0"  role="button">Sell</label>
            
                                    <label class="btn btn-outline-primary" name="SellRent" [(ngModel)]="tmpProp.SellRent"
                                            btnRadio=2  tabindex="0" role="button">Rent</label>
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <p>BHK</p>
                                <div class="btn-group">
                                    <label 
                                    *ngFor="let bhk of [1,2,3,4]"
                                    class="btn btn-outline-primary mr-2" name="tmpProp.BHK" [(ngModel)]="tmpProp.BHK"
                                    [btnRadio]="bhk" tabindex="0"  role="button">{{bhk}}</label>
                                </div>
                            </div>                            
            
                            <div class="form-group col-12">
                                <p><label for="Type">Property of Type</label></p>
                                <div class="btn-group">
                                    <label  *ngFor="let type of propertyTypes"
                                    class="btn btn-outline-primary mr-2" name="Type" [(ngModel)]="tmpProp.Type"
                                            [btnRadio]="type" tabindex="0"  role="button">{{ type }}
                                    </label>
                                </div>
                            </div>

                            <div class="form-group col-12 mt-5"
                            [ngClass]="{'focused': tmpProp.Name || NameFocused}">
                                <label for="Name" class="form-label">in Building/Society/Project</label>
                                <input
                                id="Name"
                                (focus)="NameFocused=1"
                                (blur)="NameFocused=0"
                                type="text"
                                class="form-control form-input"
                                name="Name"
                                [(ngModel)]="tmpProp.Name"
                                >
                            </div>

                            <div class="form-group col-12 mt-5"
                            [ngClass]="{'focused': tmpProp.City || CityFocused}">
                                <label for="City" class="form-label">City</label>
                                <input
                                id="City"
                                (focus)="CityFocused=1"
                                (blur)="CityFocused=0"
                                type="text"
                                class="form-control form-input"
                                name="City"
                                [(ngModel)]="tmpProp.City"
                                >
                            </div>

                            <div class="form-group col-12">
                                <p>Furnish Type</p>
                                <div class="btn-group" aria-required="true" btnRadioGroup name="Furnishing" [(ngModel)]="tmpProp.Furnishing">
                                    <label 
                                    *ngFor="let FT of FurnishTypes"
                                    class="btn btn-outline-primary mr-2" name="Furnishing"
                                [btnRadio]="FT" tabindex="0"  role="button">{{FT}}</label>                                    
                                </div>
                            </div>                            
 
                            <div class="form-group col-12">
                                    <label>Possession/Avaialble Date</label>
                            </div>
                            <div class="col-xs-12 col-12 col-md-4 form-group">
                                <input type="text" name="Posession" ngModel
                                    class="form-control"
                                    bsDatepicker>
                            </div>
                            <button type="button" class="btn btn-primary btn-block" (click)="selectTab(1)">Next</button>                                                        
                        </div>
                    </tab>
                    <tab heading="Pricing and Area">   

                        <div class="form-group col-12 mt-4"
                        [ngClass]="{'focused': tmpProp.Price || PriceFocused}">
                            <label for="Price" class="form-label">
                                <span *ngIf="tmpProp.SellRent=='1'">Price (in USD)</span>
                                <span *ngIf="tmpProp.SellRent=='2'">Rent (in USD)</span>
                            </label>
                            <input 
                            id="Price"
                            type="number"
                            (focus)="PriceFocused=1"
                            (blur)="PriceFocused=0"
                            class="form-control form-input"
                            name="Price"
                            [(ngModel)]="tmpProp.Price"
                            required>
                        </div>

                        <div *ngIf="tmpProp.SellRent=='2'">
                            <div class="form-group col-12 mt-5"
                            [ngClass]="{'focused': tmpProp.Security || SecurityFocused}"> 
                            <label for="Security" class="form-label">Security (in USD)</label>
                                <input
                                id="Security"
                                type="number"
                                (focus)="SecurityFocused=1"
                                (blur)="SecurityFocused=0"
                                class="form-control"
                                name="Security"
                                ngModel
                                [(ngModel)]="tmpProp.Security"
                                >
                            </div>

                            <div class="form-group col-12 mt-5"
                            [ngClass]="{'focused': tmpProp.Maintenance || MaintFocused}"> 
                            <label for="Maintenance" class="form-label">Maintenance (in USD)</label>
                                <input
                                id="Maintenance"
                                type="number"
                                (focus)="MaintFocused=1"
                                (blur)="MaintFocused=0"
                                class="form-control"
                                name="Maintenance"
                                ngModel
                                [(ngModel)]="tmpProp.Maintenance"
                                >
                            </div>
                        </div>

                        <div class="form-group col-12 mt-5"
                        [ngClass]="{'focused': tmpProp.BuiltArea || BAFocused}">
                                <label for="BuiltArea" class="form-label">Built Area</label>                      
                                <input
                                id="BuiltArea"
                                type="number"
                                (focus)="BAFocused=1"
                                (blur)="BAFocused=0"
                                class="form-control form-input"
                                name="BuiltArea"
                                [(ngModel)]="tmpProp.BuiltArea"
                                required>
                        </div>

                            <div class="form-group col-12 mt-5"
                            [ngClass]="{'focused': tmpProp.CarpetArea || CAFocused}"> 
                                <label for="CarpetArea" class="form-label">Carpet Area</label>
                                <input
                                id="CarpetArea"
                                (focus)="CAFocused=1"
                                (blur)="CAFocused=0"
                                type="number"
                                class="form-control form-input"
                                name="CarpetArea"
                                [(ngModel)]="tmpProp.CarpetArea"
                                required>
                            </div> 
                        <button type="button" class="btn btn-primary btn-block" (click)="selectTab(2)">Next</button>                  
                        <button type="button" class="btn btn-primary btn-block" (click)="selectTab(0)"> Back</button>
                    </tab>                    
                    <tab heading="Address">

                        <div class="form-group col-12 mt-4"
                        [ngClass]="{'focused': tmpProp.FloorNo || TFocused}">                                
                            <label for="FloorNo" class="form-label">Floor</label>
                            <input
                                id="FloorNo"
                                type="number"
                                (focus)="TFocused=1"
                                (blur)="TFocused=0"
                                class="form-control form-input"
                                name="FloorNo"
                                [(ngModel)]="tmpProp.FloorNo"
                                required>
                               
                        </div>
                        <div class="form-group col-12 mt-5" 
                        [ngClass]="{'focused': tmpProp.TotalFloor || TFFocused}">                                
                                <label for="TotalFloor" class="form-label">Total Floors</label>
                                <input
                                id="TotalFloor"
                                type="number" 
                                (focus)="TFFocused=1"
                                (blur)="TFFocused=0"
                                class="form-control form-input"
                                name="TotalFloor"                                
                                [(ngModel)]="tmpProp.TotalFloor"
                                required>                                  
                        </div>                        
                        <div class="form-group col-12 mt-5"
                        [ngClass]="{'focused': tmpProp.Address || AddFocused}">
                            <label for="Address" class="form-label">Address</label>
                            <input 
                            id="Address"
                            type="text"
                            (focus)="AddFocused=1"
                            (blur)="AddFocused=0"
                            class="form-control"
                            name="Address"
                            required                            
                            [(ngModel)]="tmpProp.Address">
                                                 
                        </div>  

                        <div class="form-group col-12 mt-5"
                        [ngClass]="{'focused': tmpProp.Address3 || LMFocused}">
                            <label for="Address3" class="form-label">Landmark</label>
                            <input
                            id="Address3" 
                            type="text"
                            (focus)="LMFocused=1"
                            (blur)="LMFocused=0"
                            class="form-control"
                            name="Address3"                            
                            [(ngModel)]="tmpProp.Address3">                        
                        </div>                            
                        <button type="button" class="btn btn-primary btn-block" (click)="selectTab(3)">Next</button>                        
                        <button type="button" class="btn btn-primary btn-block" (click)="selectTab(1)">Back</button>
                    </tab>
                    <tab heading="Other Details">
                        <div class="form-group col-12">
                            <p>Gated</p>                                    
                            <div class="btn-group" btnRadioGroup name="Gated" [(ngModel)]="Gated">
                           <label class="btn btn-outline-primary mr-2" 
                            name="Gated Commun  ity"
                            btnRadio="1" tabindex="0"  role="button">Yes</label>

                            <label class="btn btn-outline-primary mr-2" name="Gated"
                            btnRadio="2" tabindex="0"  role="button">No</label>    

                            </div>
                    </div>   
                    
                    <div class="form-group col-12">
                            <p>Main Entrance</p>
                            <div class="btn-group" btnRadioGroup name="MainEntrance" [(ngModel)]="Entrance">
                            <label 
                            class="btn btn-outline-primary mr-2" name="MainEntrance"
                            [btnRadio]="1" tabindex="0"  role="button">East</label>    
                            
                            <label 
                            class="btn btn-outline-primary mr-2" name="MainEntrance"
                            [btnRadio]="2" tabindex="0"  role="button">West</label>   

                            <label 
                            class="btn btn-outline-primary mr-2" name="MainEntrance"
                            [btnRadio]="3" tabindex="0"  role="button">South</label>   

                            <label 
                            class="btn btn-outline-primary mr-2" name="MainEntrance"
                            [btnRadio]="4" tabindex="0"  role="button">North</label>   

                            </div>
                                                              
                    </div>     
                    <div class="form-group col-12 mt-5"
                    [ngClass]="{'focused': tmpProp.Description || ACFocused}">
                        <label for="Description" class="form-label">Additional Comments (If any)</label>
                        <textarea
                        id="Description" 
                        type="text"
                        (focus)="ACFocused=1"
                        (blur)="ACFocused=0"
                        class="form-control"
                        name="Description"    
                        rows="6"                        
                        [(ngModel)]="tmpProp.Description">    
                        </textarea>                    
                    </div>                                                  
                    <button type="button" class="btn btn-primary btn-block" (click)="selectTab(4)">Next</button>
                    <button type="button" class="btn btn-primary btn-block" (click)="selectTab(2)">Back</button>
                    </tab>
                    <tab heading="Photos">
                        <div class="form-group col-12">
                            <div class="photo-control">
                                <button class="mt-5" type="button">Upload</button> <br>
                                This is under construction
                            </div>
                            <button type="button" class="btn btn-primary btn-block" (click)="selectTab(3)">Back</button>
                            <button type="submit" [disabled]="!addPropertyForm.valid" class="btn btn-primary btn-block">Save</button> 
                            <button type="reset" class="btn btn-secondary btn-block">Cancel</button> 
                        </div>
                    </tab>
                </tabset>
            </div>
        </form>
        </div>    

<div class="col-lg-4">
    <h2>Your Property Preview</h2>
    <app-property-card [property]="tmpProp"></app-property-card>
</div>  
</div>

