    <div class="card-header bg-transparent">
        <h2>List your Property</h2>
    </div>
    <div>
    <form #addPropertyForm="ngForm" (ngSubmit)="onAddProperty(addPropertyForm.value)">                    
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="Overview">
                        <div class="col">
                            <div class="form-group col-12">
                                <p>I want to : </p>
                                <div class="btn-group">
                                    <label class="btn btn-outline-primary mr-2" name="SellRent" [(ngModel)]="SR"
                                            btnRadio=1 tabindex="0"  role="button">Sell</label>
            
                                    <label class="btn btn-outline-primary" name="SellRent" [(ngModel)]="SR"
                                            btnRadio=2  tabindex="0" role="button">Rent</label>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <label for="Name">Property Name</label>
                                <input
                                type="text"
                                class="form-control"
                                name="Name"
                                ngModel
                                required
                                >
                            </div>
            
                            <div class="form-group col-12">
                                <p><label for="Type">Property Type</label></p>

                                <div class="btn-group">
                                    <label  *ngFor="let type of propertyTypes"
                                    class="btn btn-outline-primary mr-2" name="Type" [(ngModel)]="Type"
                                            [btnRadio]="type" tabindex="0"  role="button">{{ type }}
                                    </label>
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <label for="AOP">Age of Property (in years)</label>
                                <input
                                type="number"
                                class="form-control"
                                name="AOP"
                                ngModel
                                required
                                >
                            </div>

                            <div class="form-group col-12">
                                <p>BHK</p>
                                <div class="btn-group">
                                    <label class="btn btn-outline-primary mr-2" name="BHK" [(ngModel)]="BHK"
                                    btnRadio=1 tabindex="0"  role="button">1 BHK</label>
         
                                    <label class="btn btn-outline-primary mr-2" name="BHK" [(ngModel)]="BHK"
                                    btnRadio=2 tabindex="0"  role="button">2 BHK</label>

                                    <label class="btn btn-outline-primary mr-2" name="BHK" [(ngModel)]="BHK"
                                    btnRadio=3 tabindex="0"  role="button">3 BHK</label>
 
                                    <label class="btn btn-outline-primary mr-2" name="BHK" [(ngModel)]="BHK"
                                    btnRadio=4 tabindex="0"  role="button">4 BHK</label>
                                    
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <p>Bathroom</p>
                                <div class="btn-group" btnRadioGroup name="Bathroom" [(ngModel)]="Bathrooms">
                                    <label 
                                    *ngFor="let brm of [1,2,3,4]"
                                    class="btn btn-outline-primary mr-2"
                                [btnRadio]="brm" tabindex="0"  role="button">{{brm}}</label>                                    
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <p>Furnish Type</p>
                                <div class="btn-group" btnRadioGroup name="ft" [(ngModel)]="ft">
                                    <label 
                                    *ngFor="let FT of FurnishTypes"
                                    class="btn btn-outline-primary mr-2" name="Furnishing"
                                [btnRadio]="FT" tabindex="0"  role="button">{{FT}}</label>                                    
                                </div>
                            </div>

                            
                            <div class="form-group col-12">
                                    <p>Gated</p>
                                    <div class="btn-group" btnRadioGroup name="Gated" [(ngModel)]="Gated">
                                        <label 
                                        class="btn btn-outline-primary mr-2" name="Gated"
                                    [btnRadio]="1" tabindex="0"  role="button">Yes</label>      
                                    
                                    <label 
                                    class="btn btn-outline-primary mr-2" name="Gated"
                                    [btnRadio]="2" tabindex="0"  role="button">No</label>    
                                    </div>
                            </div>   
                            
                            <div class="form-group col-12">
                                    <p>Main Entrance</p>
                                    <div class="btn-group" btnRadioGroup name="Entrance" [(ngModel)]="Entrance">
                                    <label 
                                    class="btn btn-outline-primary mr-2" name="Entrance"
                                    [btnRadio]="1" tabindex="0"  role="button">East</label>    
                                    
                                    <label 
                                    class="btn btn-outline-primary mr-2" name="Entrance"
                                    [btnRadio]="2" tabindex="0"  role="button">West</label>   

                                    <label 
                                    class="btn btn-outline-primary mr-2" name="Entrance"
                                    [btnRadio]="3" tabindex="0"  role="button">South</label>   

                                    <label 
                                    class="btn btn-outline-primary mr-2" name="Entrance"
                                    [btnRadio]="4" tabindex="0"  role="button">North</label>   

                                    </div>
                                                                      
                            </div>                               
                            
                            <div class="form-group col-12">
                                <label>Price Information (in rupees)</label>
                            </div>

                            <div class="form-group col-12">
                                <div class="input-group">  
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Price</span>
                                    </div>                              
                                    <input
                                    type="number"
                                    class="form-control"
                                    name="Price"
                                    ngModel
                                    required>
                                    <div class="input-group-append mr-2">
                                            <span class="input-group-text"><i class="fa fa-inr"></i></span>
                                    </div>

                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Security</span>
                                    </div>    
                                    <input
                                    type="number"
                                    class="form-control"
                                    name="Security"
                                    ngModel
                                    required>
                                    <div class="input-group-append mr-2">
                                        <span class="input-group-text"><i class="fa fa-inr"></i></span>
                                    </div>

                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Maintenance</span>
                                    </div>    
                                    <input
                                    type="number"
                                    class="form-control"
                                    name="Maintenance"
                                    ngModel
                                    required>
                                    <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-inr"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-12">
                                    <label>Area (in sqare feet)</label>
                            </div>

                            <div class="form-group col-12">
                                <div class="input-group">  
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Built up Area</span>
                                    </div>                              
                                    <input
                                    type="number"
                                    class="form-control"
                                    name="Price"
                                    ngModel
                                    required>
                                    <div class="input-group-append mr-2">
                                            <span class="input-group-text">Sq.Feet</span>
                                    </div>

                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Carpet Area (Optional)</span>
                                    </div>                              
                                    <input
                                    type="number"
                                    class="form-control"
                                    name="Price"
                                    ngModel
                                    required>
                                    <div class="input-group-append">
                                            <span class="input-group-text">Sq.Feet</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                    <label>Possession/Avaialble Date</label>
                            </div>
                            <div class="col-xs-12 col-12 col-md-4 form-group">
                                <input type="text"
                                    class="form-control"
                                    bsDatepicker>
                            </div>
            
                            <div class="form-group col-12">
                                <label for="Desciption">Description</label>
                                <textarea 
                                type="text"
                                class="form-control"
                                name="Description"
                                rows="8"
                                ngModel
                                required
                                >
                                </textarea>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Address">
                        <div class="form-group col-12">
                            <label for="City">City</label>
                            <input
                            type="text"
                            class="form-control"
                            name="City"
                            ngModel
                            required
                            >                
                        </div>
                        <div class="form-group col-4">
                            <div class="input-group">  
                                <div class="input-group-prepend">
                                        <span class="input-group-text">Floor</span>
                                </div>                              
                                <input
                                type="number"
                                class="form-control"
                                name="Floor"
                                ngModel
                                required>
                                <div class="input-group-append">
                                    <span class="input-group-text">Of</span>
                                </div>
                                <input
                                type="number"
                                class="form-control"
                                name="TotalFloor"
                                ngModel
                                required>  
                                <div class="input-group-append">
                                    <span class="input-group-text">Floors</span>
                                </div>          
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <label for="Address">Building/Society/Project (Optional)</label>
                            <input 
                            type="text"
                            class="form-control"
                            name="Address"
                            ngModel
                            required>                        
                        </div> 
                        <div class="form-group col-12">
                            <label for="Address">Locality</label>
                            <input 
                            type="text"
                            class="form-control"
                            name="Address2"
                            ngModel
                            required>                        
                        </div>  

                        <div class="form-group col-12">
                            <label for="Address">Landmark (Optional)</label>
                            <input 
                            type="text"
                            class="form-control"
                            name="Address3"
                            ngModel
                            required>                        
                        </div>      

                    </tab>
                    <tab heading="Photos">
                    </tab>
                    <div class="form-group col-6">
                        <button type="submit" class="btn btn-primary mr-2">Add Property</button> 
                        <button type="button" class="btn btn-secondary">Cancel</button> 
                    </div>
                </tabset>
            </div>
    </form>
</div>

