<div class="row">
    <div class="col-lg-6 mt-3 shadow-lg p-0 bg-white rounded" style="margin: auto;">
        <div class="card-header bg-primary">
            <h3>Login</h3>
        </div>
        <div class="card p-2">
            <form  #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">               
                <div class="form-group col-12">
                    <label>Name</label>
                    <input class="form-control" name="userName" [(ngModel)]="member.userName" required type="text" placeholder="User Name">
                </div>
                <div class="form-group col-12">
                    <label>Password</label>
                    <input class="form-control" name="userPassword" [(ngModel)]="member.userPassword" required type="password" placeholder="Password">
                </div>
        
                <div class="form-group col-12">
                    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Login</button>
                    <button  type="button" class="btn btn-secondary ml-2">Cancel</button>
                </div>               
            </form> 
        </div>
    </div>
    </div>
    