
  .btn-group > label[ng-reflect-btn-radio] {
    border-radius: 24px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    line-height: 30px;
  }

  .form-group {
    position:relative;  
    margin-top: 2rem;
  }

  .form-group p {
    color: #999;
    font-size: 14.5px;
  }
  
  .form-label {
    position: absolute;    
    left: 20px;
    top: 10px;
    color: #999;
    z-index: 10;
    transition: transform 150ms ease-out, left ease-out 150ms, top ease-out 150ms, font-size 150ms ease-out;
  }
  
  .focused .form-label {
    transform: translateY(-150%);
    font-size: 14.25px;
    color: #999;
    left: 15px;
    transition: transform 150ms ease-out, left 150ms, font-size 150ms ease-out;
  }
  
  .form-input {
    position: relative;
    transition: box-shadow 150ms ease-out;
  }

  .form-input:focus {
    box-shadow: 0 2px 0 0 blue;
  }

  
  input.ng-invalid.ng-touched:not(form)  {
    border: 1px solid #a94442;
  }

  .error-block {
    color:red;
  }
  
  .card-header > h1, .card-header > h2, .card-header > h3 {
    color: white;
  }

  .form-control.ng-invalid.ng-touched,
  .form-control.ng-invalid.form-submitted
  {
        border-color: red;
        padding-right: calc(1.5em + .75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(.375em + .1875rem) center;
        background-size: calc(.75em + .375rem) calc(.75em + .375rem);
   }
    
    