
  .btn-group > label[ng-reflect-btn-radio] {
    border-radius: 24px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    line-height: 30px;
  }

  .form-group {
    position:relative;  
    margin-top: 2rem;
  }

  .form-group p {
    color: #999;
    font-size: 14.5px;
  }
  
  .form-label {
    position: absolute;    
    left: 20px;
    top: 10px;
    color: #999;
    z-index: 10;
    transition: transform 150ms ease-out, left ease-out 150ms, top ease-out 150ms, font-size 150ms ease-out;
  }
  
  .focused .form-label {
    transform: translateY(-150%);
    font-size: 14.25px;
    color: #999;
    left: 15px;
    transition: transform 150ms ease-out, left 150ms, font-size 150ms ease-out;
  }
  
  .form-input {
    position: relative;
    transition: box-shadow 150ms ease-out;
  }

  .form-input:focus {
    box-shadow: 0 2px 0 0 blue;
  }

  
  input.ng-invalid.ng-touched:not(form)  {
    border: 1px solid #a94442;
  }

  .error-block {
    color:red;
  }
  
  .card-header > h1, .card-header > h2, .card-header > h3 {
    color: white;
  }

