<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/">
        <img src="assets\images\brand-image.png" width="30" height="30" alt="">
        Housing
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li>
            <a  
              [routerLinkActiveOptions]="{exact:true}" 
              routerLinkActive="active" 
              class="nav-link" 
              routerLink="/">
              Buy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  
              routerLinkActive="active" 
              routerLink="/rent-property"              
              >Rent
            </a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link" 
              routerLinkActive="active" 
              routerLink="/add-property">
              List Property (Free)
            </a>
          </li>
        </ul>
      </div>
      <form class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
                <button type="submit" class="btn btn-link navbar-btn nav-link">Login</button>
            </li>
        </ul>
    </form>
</nav>

<div class="container" style="margin-top: 70px;"> 
  <router-outlet></router-outlet>
</div>

